@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="NhanVien" asp-action="Index">Nhân viên</a>
<a asp-controller="PhongBan" asp-action="Index">Phòng ban</a>
<a asp-controller="Chamcong" asp-action="Index">Chấm công</a>
